@import "../../styles/vars";

.navbar{
  width: 100%;
  background-color: $noir;
  color: $oat;
  padding: 3rem;
  display: flex;
  justify-content: center;
  ul{
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    li{
      background-color: $noir;
      border-radius: $radius;
      a{
        padding: 1.5rem;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: $oat;
        height: 1.5rem;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        border-radius: $radius;
      }
      a:hover{
        color: $noir;
        background-color: $oat;
      }
    }
  }
}