@import '../../../styles/vars';

.cont {
  width: 100%;
  min-height: 90vh;
  background-color: $darkerOat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: $font;
  gap: 10rem;
  .imgContLeft, .imgContRight {
    grid-column: 1/2;
    width: 100%;
    min-height: 50rem;
    background-color: $darkerOat; //do zmiany
    padding: 2rem;
  }
  .imgContLeft{ grid-column: 1/2; }
  .imgContRight{ grid-column: 5/6; }


  .login {
    grid-column: 2/5;
    width: 100%;
    max-width: 40rem;
    min-height: 50rem;
    box-shadow: $bxshdw;
    background-color: $oat;
    border-radius: $radius;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .loginForm{
    display: flex;
    flex-direction: column;
    height: 100%;

    .formHeader {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      color: $noir;
    }

    .fieldGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: $trasparentNoir;
      }

      input {
        padding: 0.8rem 1rem;
        font-size: 1.5rem;
        border: 2px solid transparent;
        border-radius: calc($radius / 2);
        background-color: white;
        transition: all 0.3s ease;

        &:focus {
          outline: none;
          border-color: $darkerOat;
          box-shadow: 0 0 5px rgba(0,0,0,0.05);
        }
      }
    }

    .submitBtn {
      margin-top: auto;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      background-color: $noir;
      color: $oat;
      border: none;
      border-radius: $radius;
      transition: background-color 0.3s ease;
      margin-bottom: 1.5rem;
    }
  }
}