$oat: #F0EDE5;
$darkerOat: #E2D9C8;
$oatHover: #E8E3D9;
$noir: #060D0C;
$trasparentNoir: rgba(6, 13, 12, 0.7);
$font: 'Roboto', sans-serif;
$radius: 1rem;
$bxshdw: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$dashboardBxShadw: #333333;
