@import "../../styles/vars";

.Header{
  width: 100%;
  z-index: 3;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $noir;
  h1{
    font-size: 5rem;
    color: $oat;
    letter-spacing: -0.3rem;
  }
}