@import "../../styles/vars";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  background-color: rgba($noir, 0.99);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 2px solid rgba($oat, 0.15);

  .logo h1 {
    font-size: 5rem;
    color: $oat;
    letter-spacing: -0.2rem;
    margin: 0;
    font-weight: 900;
  }

  .actions {
    .loginBtn {
      text-decoration: none;
      font-size: 1.8rem;
      color: $noir;
      font-weight: bold;
      background-color: $oat;
      padding: 1.2rem 3.5rem;
      border-radius: 100px;
      border: 4px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        background-color: transparent;
        color: $oat;
        border-color: $oat;
        transform: scale(1.05);
      }
    }
  }
}
